

.spotlightWrapper_12 {
background:#fff url(../img/new/bkgrd1.jpg) center top no-repeat; 
width:960px;
height:100%;
text-align:left;
margin:0 auto;
padding: 10px 0;
border-left:5px solid #fff;
border-right:5px solid #fff;
}

