/********************** 
Text Styles *******/

h1 {color:#c81f25;}
h1 strong {font-weight:normal;}

/*.redText {color:#c81f25;}
.blueText, .blueText a {color:#006699;}
.grayText {color:#222222;}*/

.smallText {background-color:inherit; color:inherit; font-size:90%; margin-bottom:0; line-height:135%;}
.largeText {color:inherit; font-size:120%}
.noBullets {list-style:none;}




/**************************** 
Images and Positions *******/

hr {height:1px; border:none; border-top:1px solid #ccc; margin:0.4em 0; background-color:#efefef; color:#efefef; }

.noBorder {border:none;}
.icon {display:inline; vertical-align:middle;}
.whiteBorder {border:5px solid #fff;}
.darkBorder {border:1px solid #666;}

.caption {margin-top:0.3em; padding:0 0.6em; display:block; font-weight:bold; color:#333;}
span.captionTitle {font-size:120%; margin-top:0.3em; font-weight:bold; color:#666;}
span.captionBody {font-weight:normal; color:#666;}
span.photoCredit {font-size:80%; color:#999;}

.pullQuote {background-color:#fff; color:inherit; border:1px solid #999; padding:0.2em 0.4em; margin-bottom:0.4em;}

.pageIntro {background-color:inherit; color:#666; font-size:145%; margin-bottom:0; line-height:135%;}
	
